*, *::after, *::before {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.App {
  text-align: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 420px;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_alt.jpg");
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 25px;
}

h1 {
    margin: 0px;
}

.logo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo-name {
    display: none;
}

.hero-cta-button-container {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: 16px;
}

.hero-cta-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

.hero-cta-button {
    padding: 8px 15px;
    width: auto;
    border-radius: 999px;
    border-color: orange;
    border-width: 2px;
    outline: none;
    font-weight: 700;
}

.light {
    background-color: white;
}
.hero-cta-button > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 22px;
    letter-spacing: 0ch;
    text-transform: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-variant-ligatures: no-common-ligatures;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.light > a {
    color: black;
}

.hero-catchphrase-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 40px;
}

.hero-catchphrase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.secondary-banner {
    display: grid;
    place-items: center;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255,255,255,0.8), rgb(255,255,255,0.99)), url("secondaryBannerBackground.svg");
}

.secondary-banner-text {
    color: orange;
    font-weight: 700;
    width: 100%;
    max-width: 60vw;  
    font-size: 36px;
}

@media(max-width: 480px) {
    .hero {
        max-width: 334px;
    }
    .logo > svg{
        width: 56px;
        height: 32px;
    }
}

@media(min-width: 960px) {
    .hero-container {
        height: 580px;
    }
    .logo-name {
        display: block;
    }
    .hero-cta-button-container {
        margin-top: 25px;
    }
    .hero-cta-buttons {
        margin-right: 24px;
    }
    .hero-catchphrase-container {
        height: 100%;
    }
    .hero-catchphrase {
        height: 100%;
        max-width: 668px;
        font-size: 64px;
        line-height: 76px;
    }
    .secondary-banner {
        height: 420px;
    }
    .secondary-banner-text {
        font-size: 72px;
    }
}